$mobile--width:                      768px;
$tablet--width:                      960px;
$desktop--width:                     1200px;

$container--width-mobile:            96%;
$container--width-desktop:           84%;
$container--max-width-desktop:       1200px;

$col--space:                         15px;