.container {
  margin: 0 auto;
  width: $container--width-mobile;

  &--fluid {
    width: 100%
  }

  @media only screen and (min-width: $desktop--width) {
    width: $container--width-desktop;
    max-width: $container--max-width-desktop;
  }
}